# DATA MINING

# IMPORT LIBRARY
memasukkan library python yang di butuhkan  ke dalam program

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import accuracy_score

# RIVIEW DATA
   pada tahap ini kita akan melakukan riview data yang berasal dari dataset, memasukkan dataset ke dalam program,  melihat informasi data teratas,  data terbawah, mencari informasi jumlah kolom, jumlah baris dan tipe data yang terpakai dalam dataset, dan juga mengecek nilai statistik dalam dataset

In [2]:
df = pd.read_csv('dataset/accelerometer.csv')

print('dataset is ready')

FileNotFoundError: [Errno 2] No such file or directory: 'dataset/accelerometer.csv'

In [3]:
df.head()

   y     x1     x2     x3
0  1  1.004  0.090 -0.125
1  1  1.004 -0.043 -0.125
2  1  0.969  0.090 -0.121
3  1  0.973 -0.012 -0.137
4  1  1.000 -0.016 -0.121

In [4]:
df.tail()

        y     x1     x2     x3
152995  3  1.051  0.090 -0.262
152996  3  0.918  0.039 -0.129
152997  3  1.156 -0.094 -0.227
152998  3  0.934  0.203 -0.172
152999  3  1.199 -0.176  0.109

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153000 entries, 0 to 152999
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   y       153000 non-null  int64
 1   x1      153000 non-null  float64
 2   x2      153000 non-null  float64
 3   x3      153000 non-null  float64
dtypes: float64(3), int64(1)
memory usage: 4.7 MB

In [6]:
df.describe()

                   y             x1             x2             x3
count  153000.000000  153000.000000  153000.000000  153000.000000
mean        2.000000       0.995622       0.005351      -0.117769
std         0.816499       0.773958       0.742602       0.517008
min         1.000000      -8.000000      -8.000000      -5.867000
25%         1.000000       0.945000      -0.078000      -0.172000
50%         2.000000       0.992000       0.008000      -0.125000
75%         3.000000       1.039000       0.105000      -0.066000
max         3.000000       7.996000       7.996000       6.086000

# conclusion :
Berdasarkan data yang telah kita riview, kita memperoleh bahwa dataset yang di pakai ialah dataset yang memiliki 4 label yaitu label y, label x1, label x2, dan label x3. selanjutnya di dalam dataset ini memiliki 153000 baris. dan memiliki 2 tipe data yang di pakai yaitu tipe data int, float

# cleaning data
dalam tahap ini, kita akan melakukan pembersihan data, apakah ada nilai kosong dan apakah label yang tidak berguna atau tidak, jika ada data akan di cleaning. tapi sebelum kita akan mengecek nilai kosong apakah ada atau tidak ada

In [7]:
df.isnull().sum()

y     0
x1    0
x2    0
x3    0
dtype: int64

setelah di cek, ternyata dataset ini tidak memiliki nilang kosong, artinya data ini sudah bersih

# Pre - processing data 
selanjutnya kita akan melakukan pre processing data, dalam proses ini kita akan melakukan training data untuk menghasilkan 3 nilai yaitu nilai recall, presisi, dan akurasi

## 1. pertama kita akan split data  yang berguna untuk membagi nilai dan variablenya  contohnya  ke training dan test data dan  akan di masukan ke dalam training data

In [8]:
X = df[['x1', 'x2', 'x3']]
X

           x1     x2     x3
0       1.004  0.090 -0.125
1       1.004 -0.043 -0.125
2       0.969  0.090 -0.121
3       0.973 -0.012 -0.137
4       1.000 -0.016 -0.121
...       ...    ...    ...
152995  1.051  0.090 -0.262
152996  0.918  0.039 -0.129
152997  1.156 -0.094 -0.227
152998  0.934  0.203 -0.172
152999  1.199 -0.176  0.109

[153000 rows x 3 columns]

In [9]:
y = df[['y']]
y

        y
0       1
1       1
2       1
3       1
4       1
...    ..
152995  3
152996  3
152997  3
152998  3
152999  3

[153000 rows x 1 columns]

## 2. di sini kita akan memasukan dummies yang digunakan untuk manipulasi data. Itu mengubah data kategori menjadi dummy atau variabel indikator, dan juga untuk labelnya bisa di lakukan proses test dan training data

In [10]:
X = pd.get_dummies(X)
X.head()

      x1     x2     x3
0  1.004  0.090 -0.125
1  1.004 -0.043 -0.125
2  0.969  0.090 -0.121
3  0.973 -0.012 -0.137
4  1.000 -0.016 -0.121

## 3. selanjutnya kita akan melakukan training dan test data dari dataset yang telah kita pakai, di sini kami memakai 70:30 perbandingan.

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y,  test_size=0.3, random_state=123)

## 4. selanjutnya kita akan memasukkan logaritma KNN, dan  memakai 3 menjadi value k nya, untuk dilakukannya prediksi

In [13]:
knn_1 = KNeighborsClassifier(n_neighbors=3)

In [14]:
knn_1.fit(X_train, y_train)

C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [15]:
y_pred1 = knn_1.predict(X_test)

## 5. setelah di lakukan predict menggunakan logaritma KNN, selanjutnya kita akan menampilkan value dari accuracy score, precision, dan recall yang telah kita fit dan predict

In [16]:
print(accuracy_score(y_test, y_pred1))

0.520479302832244

In [17]:
print(classification_report(y_test, y_pred1))

              precision    recall  f1-score   support

           1       0.46      0.51      0.48     15400
           2       0.50      0.43      0.47     15378
           3       0.61      0.62      0.61     15122

    accuracy                           0.52     45900
   macro avg       0.52      0.52      0.52     45900
weighted avg       0.52      0.52      0.52     45900

## 6. setelah kita melakukan training data, test data, fit dan predict data memakai logaritma knn dan value dari k nya itu 3  di hasilkan bahwa :
## acurracy score : 0.52 (52%)
## precision : 0.52 : 0.52(52%)
## recall : 0.52 (52%)

## 7.  selanjutnya kita memasukkan logaritma knn juga tetapi di sini value dari variable k nya itu 5

In [18]:
knn_2 = KNeighborsClassifier(n_neighbors=5)

## 8. selanjutnya di sini kita tetap seperti cara di atas kita melakukan training dan test data juga, dan juga melakukan predict data dan fit data

In [19]:
knn_2.fit(X_train, y_train)

C:\Users\Administrator\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

KNeighborsClassifier()

In [20]:
y_pred2 = knn_2.predict(X_test)

In [111]:
print(accuracy_score(y_test, y_pred2))

0.5308061002178649

In [112]:
print(classification_report(y_test, y_pred2))

              precision    recall  f1-score   support

           1       0.48      0.50      0.49     15400
           2       0.49      0.47      0.48     15378
           3       0.62      0.63      0.62     15122

    accuracy                           0.53     45900
   macro avg       0.53      0.53      0.53     45900
weighted avg       0.53      0.53      0.53     45900

setelah di predi dan fit data, di hasilkan bahwa value dari akurasi score, precicion, dan recall ketika memakai logaritma knn dengan k nya 5, valuenya ialah 0.53 (53%)

# conclusion :
setelah di lakukan proses di atas di ketahui bahwa nilai masing masing algoritma knn memakai k = 3 dan k = 5 itu nilainya berbeda beda, jika memakai k = 3, nilai dari akurasi score, precision, dan recall itu menghasilkan nilai 52%, sedangan kalau k =5 menghasilkan 53%

In [64]:
data_frame = pd.DataFrame([{'k3' : 'accurasy score = 52%', 'k5' : 'accurasy score = 53%'},
                           {'k3' : 'precision= 52%', 'k5' : 'precision = 53%'},
                           {'k3' : 'recall = 52%', 'k5' : 'recall = 53%'}])
data_frame

                     k3                    k5
0  accurasy score = 52%  accurasy score = 53%
1        precision= 52%       precision = 53%
2          recall = 52%          recall = 53%